body {
	background-color: yellow;
	width: auto;
	height: auto;
}
.Door_six {
	background-color: violet;
	height: 10px;
	width: 10px;
	border-radius: 100px;
	right: 800px;
	top: 200px;	
	position: absolute;
	transition-duration: 2s;
}

.Door_six:hover {

        height: 250px;
        width: 100px;
        border-radius: 1000px;
}
