h1 {
	color: white;
	font-size: 100px;
	text-align: center;	
}
body {
	background-color: black;
}
header {
	color: white;
}

.Poster {
	position: absolute;
	right: 16px;
	height: 480px;
	width: 925px;
}


